@tailwind base;
@tailwind components;
@tailwind utilities;



nav a {
    color: #9D9D9D;
    font-size: large;
    transition: .3s;

}

nav ul li div a:hover {
    color: rgb(226 232 240);
}

.mobile-menu li a {
    padding: 6px;
    display: block;
    transition: color .3s;
}

.mobile-menu li a:hover {
    color: rgb(226 232 240);


}